.about-us6 {
  position: absolute;
  top: 0;
  left: 532px;
}
.group-child6,
.we-have-241 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child6 {
  top: 191px;
  background-color: var(--color-red);
  width: 200px;
  height: 50px;
}
.read-more4 {
  position: absolute;
  top: 205px;
  left: 45px;
  color: var(--color-white);
}
.we-have-24-years-experience-group {
  position: absolute;
  top: 128px;
  left: 538px;
  width: 262px;
  height: 241px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.mask-group-icon10 {
  position: absolute;
  top: 94px;
  left: 0;
  width: 480px;
  height: 288px;
  object-fit: cover;
}
.about-us-wrapper,
.about-us5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 382px;
}
.about-us-wrapper {
  top: 950px;
  left: 300px;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-lora);
}
.group-child7,
.mask-group-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 700px;
}
.mask-group-icon11 {
  object-fit: cover;
}
.group-child7 {
  background-color: var(--color-gray-200);
}
.about-us7,
.home-about {
  position: absolute;
  top: 318px;
  left: 832px;
}
.home-about {
  top: 647px;
  left: 875px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  cursor: pointer;
}
.mask-group-parent {
  position: absolute;
  top: 150px;
  left: 0;
  width: 1920px;
  height: 700px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.company-feature {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}
.line-div {
  position: absolute;
  top: 32.5px;
  left: 287.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 475px;
  height: 1px;
}
.tire-repair-and-replacement {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-lgi);
}
.tire-repair-and-container {
  position: absolute;
  top: 101px;
  left: 112px;
}
.state-emissions-inspection-container {
  position: absolute;
  top: 137px;
  left: 112px;
}
.fuel-system-repairs-container {
  position: absolute;
  top: 173px;
  left: 112px;
}
.emission-repair-facility-container {
  position: absolute;
  top: 209px;
  left: 112px;
}
.company-feature-parent {
  position: absolute;
  top: 1413px;
  left: 300px;
  width: 762px;
  height: 225px;
  color: var(--color-black);
}
.footer-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1920px;
  height: 426px;
}
.newsletter1 {
  position: absolute;
  top: 116px;
  left: 1305px;
  font-size: var(--font-size-xl);
}
.untitled-1-1-icon1 {
  position: absolute;
  top: 79px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.capitalize-on-low2 {
  position: absolute;
  top: 169px;
  left: 300px;
  display: inline-block;
  width: 229px;
  height: 82px;
}
.usefull-links1 {
  position: absolute;
  top: 116px;
  left: 635px;
  font-size: var(--font-size-xl);
}
.home3 {
  margin: 0;
}
.home-about-us-container1 {
  position: absolute;
  top: 169px;
  left: 635px;
  display: inline-block;
  width: 164px;
  height: 148px;
}
.our-services2 {
  position: absolute;
  top: 116px;
  left: 970px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.performance-upgrade-transmissi-container1 {
  position: absolute;
  top: 169px;
  left: 970px;
  display: inline-block;
  width: 181px;
  height: 157px;
}
.footer-child1,
.get-latest-updates1 {
  position: absolute;
  top: 149px;
  left: 1305px;
}
.footer-child1 {
  top: 188px;
  border-radius: var(--br-10xs);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 315px;
  height: 40px;
}
.enter-your-email1 {
  position: absolute;
  top: 200px;
  left: 1315px;
}
.footer-like-inner,
.footer1 {
  position: absolute;
  top: 1809px;
  left: 0;
  width: 1920px;
  height: 426px;
}
.footer-like-inner {
  top: 0;
  background-color: var(--color-black);
  height: 100px;
}
.mechauto-all-rights1 {
  position: absolute;
  top: 39px;
  left: 802px;
}
.footer-like-child1 {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1923px;
  height: 3px;
}
.footer-like1 {
  position: absolute;
  top: 2235px;
  left: 0;
  width: 1920px;
  height: 100px;
  font-size: var(--font-size-xl);
}
.mask-group-icon12 {
  position: absolute;
  top: 1332px;
  left: 1082px;
  width: 538px;
  height: 377px;
  object-fit: cover;
}
.bring-to-the-container1 {
  position: absolute;
  top: 1108px;
  left: 838px;
  line-height: 24px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 782px;
}
.vector-icon10,
.vector-icon11,
.vector-icon12 {
  position: absolute;
  height: 0.62%;
  width: 0.83%;
  top: 89.62%;
  right: 79.9%;
  bottom: 9.76%;
  left: 19.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11,
.vector-icon12 {
  height: 0.81%;
  width: 0.63%;
  top: 89.55%;
  right: 83.75%;
  bottom: 9.64%;
  left: 15.63%;
}
.vector-icon12 {
  height: 0.63%;
  width: 0.94%;
  top: 89.62%;
  right: 81.77%;
  bottom: 9.75%;
  left: 17.29%;
}
.nevbar-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1920px;
  height: 50px;
}
.vector-icon13 {
  position: absolute;
  height: 32%;
  width: 0.83%;
  top: 34%;
  right: 15.63%;
  bottom: 34%;
  left: 83.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div1 {
  position: absolute;
  top: 17px;
  left: 324px;
}
.shubhamkathiriya05gmailcom1 {
  position: absolute;
  top: 17px;
  left: 492px;
}
.vector-icon14,
.vector-icon15,
.vector-icon16,
.vector-icon17 {
  position: absolute;
  height: 41.8%;
  width: 0.63%;
  top: 30%;
  right: 19.48%;
  bottom: 28.2%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon15,
.vector-icon16,
.vector-icon17 {
  height: 32.4%;
  width: 0.94%;
  top: 34%;
  right: 17.5%;
  bottom: 33.6%;
  left: 81.56%;
}
.vector-icon16,
.vector-icon17 {
  height: 36%;
  width: 0.73%;
  top: 32%;
  right: 83.65%;
  bottom: 32%;
  left: 15.63%;
}
.vector-icon17 {
  height: 30%;
  width: 0.94%;
  top: 34%;
  right: 74.9%;
  bottom: 36%;
  left: 24.17%;
}
.nevbar1 {
  width: 1920px;
  height: 50px;
}
.group-child8,
.hedar-item,
.nevbar1 {
  position: absolute;
  top: 0;
  left: 0;
}
.hedar-item {
  background-color: var(--color-cornflowerblue);
  width: 1920px;
  height: 100px;
}
.group-child8 {
  border: 5px solid var(--color-red);
  box-sizing: border-box;
  width: 203px;
  height: 60px;
}
.book-now2 {
  position: absolute;
  top: 18px;
  left: 50px;
}
.rectangle-parent2 {
  position: absolute;
  top: 20px;
  left: 1417px;
  width: 203px;
  height: 60px;
  cursor: pointer;
}
.login {
  position: absolute;
  top: 18px;
  left: 70px;
}
.rectangle-parent3 {
  position: absolute;
  top: 20px;
  left: 1666px;
  width: 203px;
  height: 60px;
  cursor: pointer;
  color: var(--color-red);
}
.untitled-1-2-icon {
  position: absolute;
  top: 20px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.vector-icon18 {
  position: absolute;
  height: 30%;
  width: 1.56%;
  top: 35%;
  right: 27.24%;
  bottom: 35%;
  left: 71.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-us9,
.home4 {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.home4 {
  left: 0;
  cursor: pointer;
}
.about-us9 {
  left: 87px;
  color: var(--color-red);
}
.blog2,
.contact-us5,
.pages1,
.services1 {
  position: absolute;
  top: 0;
  left: 212px;
  font-weight: 500;
  cursor: pointer;
}
.blog2,
.contact-us5,
.pages1 {
  left: 333px;
}
.blog2,
.contact-us5 {
  left: 425px;
}
.contact-us5 {
  left: 506px;
}
.hedar1,
.home-group {
  position: absolute;
  top: 38px;
  left: 647px;
  width: 626px;
  height: 23px;
  color: var(--color-white);
}
.hedar1 {
  top: 50px;
  left: 0;
  width: 1920px;
  height: 100px;
  font-size: var(--font-size-xl);
  color: var(--color-darkred);
}
.log-in-child,
.log-in1 {
  position: absolute;
  top: -19px;
  left: -73px;
  width: 203px;
  height: 60px;
}
.log-in1 {
  top: 90px;
  left: -638px;
  width: 58px;
  height: 23px;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-darkred);
}
.about-us4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2334px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
