.vector-icon47 {
  position: absolute;
  height: 1.5%;
  width: 1.56%;
  top: 4.25%;
  right: 27.24%;
  bottom: 94.25%;
  left: 71.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.book-now-child,
.mask-group-icon20 {
  position: absolute;
  width: 1920px;
  height: 700px;
}
.mask-group-icon20 {
  top: 150px;
  left: 0;
  object-fit: cover;
}
.book-now-child {
  top: -594px;
  left: 4044px;
  background-color: var(--color-gray-200);
}
.services-book-now {
  position: absolute;
  top: 468px;
  left: 841px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
  white-space: pre-wrap;
}
.home-services1 {
  position: absolute;
  top: 797px;
  left: 877px;
  cursor: pointer;
}
.footer-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1920px;
  height: 426px;
}
.newsletter5 {
  position: absolute;
  top: 131px;
  left: 1306px;
  font-size: var(--font-size-xl);
}
.untitled-1-1-icon5 {
  position: absolute;
  top: 94px;
  left: 301px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.capitalize-on-low7 {
  position: absolute;
  top: 184px;
  left: 301px;
  display: inline-block;
  width: 229px;
  height: 82px;
}
.usefull-links5 {
  position: absolute;
  top: 131px;
  left: 636px;
  font-size: var(--font-size-xl);
}
.home11 {
  margin: 0;
}
.home-about-us-container5 {
  position: absolute;
  top: 184px;
  left: 636px;
  display: inline-block;
  width: 164px;
  height: 148px;
}
.our-services7 {
  position: absolute;
  top: 131px;
  left: 971px;
  font-size: var(--font-size-xl);
}
.performance-upgrade-transmissi-container5 {
  position: absolute;
  top: 184px;
  left: 971px;
  display: inline-block;
  width: 181px;
  height: 157px;
}
.footer-child9,
.get-latest-updates5 {
  position: absolute;
  top: 164px;
  left: 1306px;
}
.footer-child9 {
  top: 203px;
  border-radius: var(--br-10xs);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 315px;
  height: 40px;
}
.enter-your-email5,
.vector-icon48 {
  position: absolute;
  top: 215px;
  left: 1316px;
}
.vector-icon48 {
  height: 3.19%;
  width: 0.83%;
  top: 22.61%;
  right: 79.84%;
  bottom: 74.2%;
  left: 19.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon49,
.vector-icon50,
.vector-icon51,
.vector-icon52,
.vector-icon53 {
  position: absolute;
  height: 4.15%;
  width: 0.63%;
  top: 22.21%;
  right: 83.7%;
  bottom: 73.64%;
  left: 15.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon50,
.vector-icon51,
.vector-icon52,
.vector-icon53 {
  height: 3.24%;
  width: 0.94%;
  top: 22.61%;
  right: 81.72%;
  bottom: 74.15%;
  left: 17.34%;
}
.vector-icon51,
.vector-icon52,
.vector-icon53 {
  height: 3.4%;
  width: 0.83%;
  top: 69.91%;
  right: 79.84%;
  bottom: 26.69%;
  left: 19.32%;
}
.vector-icon52,
.vector-icon53 {
  height: 4.44%;
  width: 0.63%;
  top: 69.48%;
  right: 83.7%;
  bottom: 26.08%;
  left: 15.68%;
}
.vector-icon53 {
  height: 3.45%;
  width: 0.94%;
  top: 69.91%;
  right: 81.72%;
  bottom: 26.64%;
  left: 17.34%;
}
.footer5 {
  top: 0;
  height: 426px;
}
.footer-like-child6,
.footer-wrapper,
.footer5 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.footer-wrapper {
  top: 2935px;
  height: 426px;
  font-size: var(--font-size-sm);
}
.footer-like-child6 {
  top: 0;
  background-color: var(--color-black);
  height: 100px;
}
.mechauto-all-rights4 {
  position: absolute;
  top: 39px;
  left: 792px;
}
.footer-like-child7 {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1923px;
  height: 3px;
}
.footer-like4,
.nevbar-child3 {
  position: absolute;
  top: 3388px;
  left: 0;
  width: 1920px;
  height: 100px;
}
.nevbar-child3 {
  top: 0;
  background-color: var(--color-midnightblue-100);
  height: 50px;
}
.vector-icon54 {
  position: absolute;
  height: 32%;
  width: 0.83%;
  top: 34%;
  right: 15.63%;
  bottom: 34%;
  left: 83.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div5 {
  position: absolute;
  top: 17px;
  left: 324px;
}
.shubhamkathiriya05gmailcom3 {
  position: absolute;
  top: 17px;
  left: 492px;
}
.vector-icon55,
.vector-icon56,
.vector-icon57,
.vector-icon58 {
  position: absolute;
  height: 41.8%;
  width: 0.63%;
  top: 30%;
  right: 19.48%;
  bottom: 28.2%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon56,
.vector-icon57,
.vector-icon58 {
  height: 32.4%;
  width: 0.94%;
  top: 34%;
  right: 17.5%;
  bottom: 33.6%;
  left: 81.56%;
}
.vector-icon57,
.vector-icon58 {
  height: 36%;
  width: 0.73%;
  top: 32%;
  right: 83.65%;
  bottom: 32%;
  left: 15.63%;
}
.vector-icon58 {
  height: 30%;
  width: 0.94%;
  top: 34%;
  right: 74.9%;
  bottom: 36%;
  left: 24.17%;
}
.nevbar5 {
  width: 1920px;
  height: 50px;
  font-size: var(--font-size-sm);
}
.group-child18,
.hedar-child3,
.nevbar5 {
  position: absolute;
  top: 0;
  left: 0;
}
.hedar-child3 {
  background-color: var(--color-cornflowerblue);
  width: 1920px;
  height: 100px;
}
.group-child18 {
  border: 5px solid var(--color-red);
  box-sizing: border-box;
  width: 203px;
  height: 60px;
}
.login7 {
  position: absolute;
  top: 18px;
  left: 70px;
}
.hedar-child4,
.rectangle-parent11 {
  position: absolute;
  width: 203px;
  height: 60px;
}
.rectangle-parent11 {
  top: 19px;
  left: 1666px;
  cursor: pointer;
}
.hedar-child4 {
  top: 20px;
  left: 1417px;
  border: 5px solid var(--color-red);
  box-sizing: border-box;
}
.book-now7 {
  position: absolute;
  top: 38px;
  left: 1467px;
  color: var(--color-darkred);
}
.untitled-1-2-icon4 {
  position: absolute;
  top: 20px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.home12 {
  left: 0;
  cursor: pointer;
}
.about-us17,
.home12,
.services7 {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.about-us17 {
  left: 87px;
  cursor: pointer;
}
.services7 {
  left: 212px;
  color: var(--color-red);
}
.blog6,
.contact-us17,
.pages5 {
  position: absolute;
  top: 0;
  left: 333px;
  font-weight: 500;
  cursor: pointer;
}
.blog6,
.contact-us17 {
  left: 425px;
}
.contact-us17 {
  left: 506px;
}
.home-parent3 {
  position: absolute;
  top: 38px;
  left: 647px;
  width: 626px;
  height: 23px;
  color: var(--color-white);
}
.group-child19,
.hedar5 {
  position: absolute;
  left: 0;
}
.hedar5 {
  top: 50px;
  width: 1920px;
  height: 100px;
  color: var(--color-red);
}
.group-child19 {
  top: 0;
  border-radius: 30px;
  background-color: var(--color-cornflowerblue);
  width: 459px;
  height: 91px;
}
.submit1 {
  position: absolute;
  top: 8px;
  left: 128px;
  display: inline-block;
  width: 231px;
}
.rectangle-parent12 {
  position: absolute;
  top: 1567px;
  left: 520px;
  width: 459px;
  height: 91px;
}
.group-child20 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 787px);
  background-color: var(--color-gainsboro-100);
  width: 1574px;
}
.service-date- {
  position: absolute;
  top: 13px;
  left: calc(50% - 763px);
}
.rectangle-parent13,
.rectangle-parent14,
.rectangle-parent15 {
  position: absolute;
  height: calc(100% - 1556px);
  top: 163px;
  bottom: 1393px;
  left: calc(50% - 786.5px);
  width: 1574px;
}
.rectangle-parent14,
.rectangle-parent15 {
  top: 1336px;
  bottom: 220px;
}
.rectangle-parent15 {
  top: 1161px;
  bottom: 395px;
}
.rc-book- {
  position: absolute;
  top: 23px;
  left: calc(50% - 763px);
}
.rectangle-parent16,
.rectangle-parent17 {
  position: absolute;
  height: calc(100% - 1556px);
  top: 986px;
  bottom: 570px;
  left: calc(50% - 786.5px);
  width: 1574px;
}
.rectangle-parent17 {
  top: 669px;
  bottom: 887px;
  left: calc(50% - 787.5px);
}
.address- {
  position: absolute;
  top: 27px;
  left: calc(50% - 763px);
}
.rectangle-parent18,
.rectangle-parent19,
.rectangle-parent20,
.rectangle-parent21 {
  position: absolute;
  height: calc(100% - 1556px);
  top: 502px;
  bottom: 1054px;
  left: calc(50% - 786.5px);
  width: 1574px;
}
.rectangle-parent19,
.rectangle-parent20,
.rectangle-parent21 {
  top: 326px;
  bottom: 1230px;
}
.rectangle-parent20,
.rectangle-parent21 {
  top: 819px;
  bottom: 737px;
  left: calc(50% - 787.5px);
}
.rectangle-parent21 {
  top: 0;
  bottom: 1556px;
  left: calc(50% - 786.5px);
}
.group-container {
  position: absolute;
  top: 1025px;
  left: 183px;
  width: 1575px;
  height: 1658px;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
}
.book-now6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3488px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
