.contact-us-child3,
.mask-group-icon13 {
  position: absolute;
  left: 0;
  width: 1920px;
  height: 484px;
}
.mask-group-icon13 {
  top: 950px;
  object-fit: cover;
}
.contact-us-child3 {
  top: 0;
  background-color: var(--color-midnightblue-200);
}
.contact-us10 {
  position: absolute;
  top: 100px;
  left: 799px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.contact-us-child4,
.contact-us-child5,
.contact-us-child6,
.contact-us-child7 {
  position: absolute;
  top: 196px;
  left: 413px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 537px;
  height: 50px;
}
.contact-us-child5,
.contact-us-child6,
.contact-us-child7 {
  top: 194px;
  left: 970px;
  height: 190px;
}
.contact-us-child6,
.contact-us-child7 {
  top: 264px;
  left: 413px;
  height: 50px;
}
.contact-us-child7 {
  top: 334px;
}
.subject1,
.your-email1,
.your-name1 {
  position: absolute;
  top: 207px;
  left: 433px;
}
.subject1,
.your-email1 {
  top: 275px;
}
.subject1 {
  top: 345px;
}
.contact-us9,
.massage1 {
  position: absolute;
  top: 207px;
  left: 990px;
}
.contact-us9 {
  top: 950px;
  left: 0;
  width: 1920px;
  height: 484px;
  font-size: var(--font-size-5xl);
}
.contact-us-child8 {
  top: 150px;
  background-color: var(--color-gainsboro-100);
  height: 700px;
}
.contact-us-child8,
.footer-child4,
.image-24-icon1 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.image-24-icon1 {
  top: 150px;
  height: 700px;
  object-fit: cover;
}
.footer-child4 {
  top: 0;
  background-color: var(--color-black);
  height: 426px;
}
.newsletter3 {
  position: absolute;
  top: 116px;
  left: 1305px;
  font-size: var(--font-size-xl);
}
.untitled-1-1-icon3 {
  position: absolute;
  top: 79px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.capitalize-on-low5 {
  position: absolute;
  top: 169px;
  left: 300px;
  display: inline-block;
  width: 229px;
  height: 82px;
}
.usefull-links3 {
  position: absolute;
  top: 116px;
  left: 635px;
  font-size: var(--font-size-xl);
}
.home7 {
  margin: 0;
}
.home-about-us-container3 {
  position: absolute;
  top: 169px;
  left: 635px;
  display: inline-block;
  width: 164px;
  height: 148px;
}
.our-services4 {
  position: absolute;
  top: 116px;
  left: 970px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.performance-upgrade-transmissi-container3 {
  position: absolute;
  top: 169px;
  left: 970px;
  display: inline-block;
  width: 181px;
  height: 157px;
}
.footer-child5,
.get-latest-updates3 {
  position: absolute;
  top: 149px;
  left: 1305px;
}
.footer-child5 {
  top: 188px;
  border-radius: var(--br-10xs);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 315px;
  height: 40px;
}
.enter-your-email3 {
  position: absolute;
  top: 200px;
  left: 1315px;
}
.footer-like-child2,
.footer3 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.footer3 {
  top: 1534px;
  height: 426px;
  font-size: var(--font-size-sm);
}
.footer-like-child2 {
  top: 0;
  background-color: var(--color-black);
  height: 100px;
}
.mechauto-all-rights2 {
  position: absolute;
  top: 39px;
  left: 792px;
}
.footer-like-child3 {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1923px;
  height: 3px;
}
.footer-like2 {
  position: absolute;
  top: 1960px;
  left: 0;
  width: 1920px;
  height: 100px;
}
.vector-icon27,
.vector-icon28,
.vector-icon29 {
  position: absolute;
  height: 0.7%;
  width: 0.83%;
  top: 88.19%;
  right: 79.9%;
  bottom: 11.1%;
  left: 19.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon28,
.vector-icon29 {
  height: 0.92%;
  width: 0.63%;
  top: 88.11%;
  right: 83.75%;
  bottom: 10.98%;
  left: 15.63%;
}
.vector-icon29 {
  height: 0.71%;
  width: 0.94%;
  top: 88.19%;
  right: 81.77%;
  bottom: 11.09%;
  left: 17.29%;
}
.nevbar-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1920px;
  height: 50px;
}
.vector-icon30 {
  position: absolute;
  height: 32%;
  width: 0.83%;
  top: 34%;
  right: 15.63%;
  bottom: 34%;
  left: 83.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div3 {
  position: absolute;
  top: 17px;
  left: 324px;
}
.shubhamkathiriyagmailcom1 {
  position: absolute;
  top: 17px;
  left: 492px;
}
.vector-icon31,
.vector-icon32,
.vector-icon33,
.vector-icon34 {
  position: absolute;
  height: 41.8%;
  width: 0.63%;
  top: 30%;
  right: 19.48%;
  bottom: 28.2%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon32,
.vector-icon33,
.vector-icon34 {
  height: 32.4%;
  width: 0.94%;
  top: 34%;
  right: 17.5%;
  bottom: 33.6%;
  left: 81.56%;
}
.vector-icon33,
.vector-icon34 {
  height: 36%;
  width: 0.73%;
  top: 32%;
  right: 83.65%;
  bottom: 32%;
  left: 15.63%;
}
.vector-icon34 {
  height: 30%;
  width: 0.94%;
  top: 34%;
  right: 74.9%;
  bottom: 36%;
  left: 24.17%;
}
.nevbar3 {
  width: 1920px;
  height: 50px;
  font-size: var(--font-size-sm);
}
.group-child14,
.hedar-child1,
.nevbar3 {
  position: absolute;
  top: 0;
  left: 0;
}
.hedar-child1 {
  background-color: var(--color-cornflowerblue);
  width: 1920px;
  height: 100px;
}
.group-child14 {
  border: 5px solid var(--color-red);
  box-sizing: border-box;
  width: 203px;
  height: 60px;
}
.login5 {
  position: absolute;
  top: 18px;
  left: 70px;
}
.rectangle-parent7 {
  position: absolute;
  top: 19px;
  left: 1666px;
  width: 203px;
  height: 60px;
  cursor: pointer;
}
.book-now4 {
  position: absolute;
  top: 18px;
  left: 50px;
}
.rectangle-parent8 {
  position: absolute;
  top: 20px;
  left: 1417px;
  width: 203px;
  height: 60px;
  cursor: pointer;
  color: var(--color-darkred);
}
.untitled-1-2-icon2 {
  position: absolute;
  top: 20px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.about-us13,
.home8,
.services3 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  cursor: pointer;
}
.about-us13,
.services3 {
  left: 87px;
}
.services3 {
  left: 212px;
}
.pages3 {
  left: 333px;
  cursor: pointer;
}
.blog4,
.contact-us12,
.pages3 {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.blog4 {
  left: 425px;
  cursor: pointer;
}
.contact-us12 {
  left: 506px;
  color: var(--color-red);
}
.hedar3,
.home-parent1 {
  position: absolute;
  top: 38px;
  left: 647px;
  width: 626px;
  height: 23px;
  color: var(--color-white);
}
.hedar3 {
  top: 50px;
  left: 0;
  width: 1920px;
  height: 100px;
  color: var(--color-red);
}
.contact-us13 {
  position: absolute;
  top: 468px;
  left: 799px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.home-contact {
  position: absolute;
  top: 797px;
  left: 863px;
  cursor: pointer;
}
.contact-us-child9 {
  position: absolute;
  top: 150px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1920px;
  height: 700px;
}
.contact-us8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2060px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
