.nevbar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1920px;
  height: 50px;
}
.vector-icon {
  position: absolute;
  height: 32%;
  width: 0.83%;
  top: 34%;
  right: 15.63%;
  bottom: 34%;
  left: 83.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  top: 17px;
  left: 324px;
}
.shubhamkathiriya05gmailcom {
  position: absolute;
  top: 17px;
  left: 492px;
}
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  height: 41.8%;
  width: 0.63%;
  top: 30%;
  right: 19.48%;
  bottom: 28.2%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  height: 32.4%;
  width: 0.94%;
  top: 34%;
  right: 17.5%;
  bottom: 33.6%;
  left: 81.56%;
}
.vector-icon3,
.vector-icon4 {
  height: 36%;
  width: 0.73%;
  top: 32%;
  right: 83.65%;
  bottom: 32%;
  left: 15.63%;
}
.vector-icon4 {
  height: 30%;
  width: 0.94%;
  top: 34%;
  right: 74.9%;
  bottom: 36%;
  left: 24.17%;
}
.group-child,
.nevbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 50px;
}
.group-child {
  background-color: var(--color-cornflowerblue);
  height: 100px;
}
.log-in {
  position: absolute;
  top: 38px;
  left: 1725px;
  cursor: pointer;
}
.group-item,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 100px;
}
.group-item {
  border: 5px solid var(--color-red);
  box-sizing: border-box;
  width: 203px;
  height: 60px;
}
.book-now {
  position: absolute;
  top: 18px;
  left: 50px;
  cursor: pointer;
}
.rectangle-group {
  left: 1417px;
  width: 203px;
  cursor: pointer;
}
.hedar-child,
.logo-icon,
.rectangle-group {
  position: absolute;
  top: 20px;
  height: 60px;
}
.hedar-child {
  left: 1644px;
  border: 5px solid var(--color-red);
  box-sizing: border-box;
  width: 203px;
  cursor: pointer;
}
.logo-icon {
  left: 300px;
  width: 157px;
  object-fit: cover;
}
.home1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  color: var(--color-red);
}
.about-us,
.blog,
.contact-us,
.services {
  position: absolute;
  top: 0;
  left: 87px;
  font-weight: 500;
  cursor: pointer;
}
.blog,
.contact-us,
.services {
  left: 212px;
}
.blog,
.contact-us {
  left: 457px;
}
.contact-us {
  left: 538px;
}
.hedar,
.home-parent {
  position: absolute;
  top: 38px;
  left: 647px;
  width: 658px;
  height: 23px;
  color: var(--color-white);
}
.hedar {
  top: 50px;
  left: 0;
  width: 1920px;
  height: 100px;
  font-size: var(--font-size-xl);
  color: var(--color-darkred);
}
.main-bannur-child,
.main-bannur-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 700px;
}
.main-bannur-child {
  object-fit: cover;
}
.main-bannur-item {
  background-color: var(--color-gray-200);
}
.best-car-service {
  position: absolute;
  top: 45px;
  left: 0;
  font-size: var(--font-size-31xl);
  font-family: var(--font-lora);
}
.lorem-ipsum-dolor {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: 139px;
  left: 103px;
  text-align: center;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 206px;
  background-color: var(--color-red);
  width: 204px;
  height: 25px;
}
.rectangle-div,
.your-car-service {
  position: absolute;
  top: 5px;
  left: 218px;
}
.rectangle-div {
  top: 209px;
  left: 181px;
  border: 10px solid var(--color-red);
  box-sizing: border-box;
  width: 254px;
  height: 102px;
}
.book-now1 {
  position: absolute;
  top: 246px;
  left: 246px;
  font-size: var(--font-size-5xl);
}
.best-car-service-center-parent,
.main-bannur {
  position: absolute;
  top: 190px;
  left: 652px;
  width: 684px;
  height: 311px;
}
.main-bannur {
  top: 150px;
  left: 3px;
  width: 1920px;
  height: 700px;
}
.about-us2 {
  position: absolute;
  top: 0;
  left: 547px;
  text-transform: uppercase;
}
.we-have-24 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.group-child1 {
  position: absolute;
  top: 211px;
  left: 0;
  background-color: var(--color-red);
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.read-more {
  position: absolute;
  top: 225px;
  left: 45px;
  color: var(--color-white);
}
.we-have-24-years-experience-parent {
  position: absolute;
  top: 108px;
  left: 538px;
  width: 261px;
  height: 261px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.mask-group-icon {
  position: absolute;
  top: 94px;
  left: 0;
  width: 480px;
  height: 288px;
  object-fit: cover;
}
.about-us1 {
  position: absolute;
  top: 950px;
  left: 300px;
  width: 799px;
  height: 382px;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-lora);
}
.mask-group-icon1 {
  position: absolute;
  top: 94px;
  left: 300px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.our-services {
  position: absolute;
  top: 0;
  left: 797px;
  font-size: var(--font-size-26xl);
  text-transform: uppercase;
  font-family: var(--font-lora);
}
.service-child,
.service-inner,
.service-item {
  position: absolute;
  top: 515px;
  background-color: var(--color-red);
  width: 200px;
  height: 50px;
}
.service-child {
  left: 300px;
  cursor: pointer;
}
.service-inner,
.service-item {
  left: 747px;
}
.service-inner {
  left: 1193px;
  cursor: pointer;
}
.read-more1 {
  left: 345px;
}
.read-more1,
.read-more2,
.read-more3 {
  position: absolute;
  top: 529px;
  color: var(--color-white);
}
.read-more2 {
  left: 792px;
  cursor: pointer;
}
.read-more3 {
  left: 1238px;
}
.body-shop-repairs {
  position: absolute;
  top: 414px;
  left: 301px;
}
.we-handle-both-container {
  position: absolute;
  top: 447px;
  left: 300px;
  font-size: var(--font-size-sm);
}
.mask-group-icon2 {
  position: absolute;
  top: 94px;
  left: 746px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.mechanical-repairs,
.our-team-of-container {
  position: absolute;
  top: 414px;
  left: 747px;
}
.our-team-of-container {
  top: 447px;
  font-size: var(--font-size-sm);
}
.mask-group-icon3 {
  position: absolute;
  top: 94px;
  left: 1193px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.evaluation-services,
.our-team-handles-container {
  position: absolute;
  top: 414px;
  left: 1193px;
}
.our-team-handles-container {
  top: 442px;
  font-size: var(--font-size-sm);
}
.service-child1 {
  position: absolute;
  top: 812px;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1920px;
  height: 500px;
}
.image-11-icon {
  position: absolute;
  top: 705px;
  left: 0;
  width: 858px;
  height: 529px;
  object-fit: cover;
  cursor: pointer;
}
.quality-service-and-container {
  position: absolute;
  top: 0;
  left: 0;
}
.we-utilize-the-container {
  position: absolute;
  top: 148px;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 132.19%;
}
.quality-service-and-customer-s-parent,
.service {
  position: absolute;
  top: 956px;
  left: 970px;
  width: 626px;
  height: 224px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.service {
  top: 1432px;
  left: 0;
  width: 1920px;
  height: 1312px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.it-has-survived {
  position: absolute;
  top: 69px;
  left: 301px;
}
.our-projects-child {
  position: absolute;
  top: 115px;
  left: 893px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 427px;
  height: 400px;
}
.image-10-icon,
.mask-group-icon4,
.mask-group-icon5 {
  position: absolute;
  top: 115px;
  left: 0;
  width: 427px;
  height: 400px;
  object-fit: cover;
}
.image-10-icon,
.mask-group-icon5 {
  left: 447px;
  width: 426px;
}
.image-10-icon {
  left: 895px;
  border-radius: var(--br-3xs);
  width: 425px;
}
.mask-group-icon6,
.mask-group-icon7,
.mask-group-icon8 {
  position: absolute;
  top: 615px;
  left: 0;
  width: 427px;
  height: 400px;
  object-fit: cover;
}
.mask-group-icon7,
.mask-group-icon8 {
  left: 447px;
  width: 426px;
}
.mask-group-icon8 {
  left: 893px;
  width: 427px;
}
.engine,
.repairing,
.service1 {
  position: absolute;
  top: 525px;
  left: 0;
  font-size: var(--font-size-xl);
}
.engine,
.service1 {
  left: 447px;
}
.engine {
  left: 893px;
}
.tyre-rotation {
  position: absolute;
  top: 553px;
  left: 0;
}
.our-projects1,
.peroidic-service {
  position: absolute;
  top: 553px;
  left: 447px;
}
.our-projects1 {
  top: 0;
  left: 493px;
  font-size: var(--font-size-26xl);
  text-transform: uppercase;
  font-family: var(--font-lora);
}
.engine-restoration {
  position: absolute;
  top: 553px;
  left: 893px;
}
.cleaning,
.repairing1,
.service2 {
  position: absolute;
  top: 1025px;
  left: 0;
  font-size: var(--font-size-xl);
}
.repairing1,
.service2 {
  left: 893px;
}
.service2 {
  left: 447px;
}
.car-interior,
.peroidic-service1 {
  position: absolute;
  top: 1053px;
  left: 447px;
}
.car-interior {
  left: 0;
}
.our-projects,
.tyre-rotation1 {
  position: absolute;
  top: 1053px;
  left: 893px;
}
.our-projects {
  top: 2844px;
  left: 300px;
  width: 1320px;
  height: 1069px;
  color: var(--color-black);
}
.latest-blog {
  position: absolute;
  top: 0;
  left: 510px;
  font-size: var(--font-size-26xl);
  text-transform: uppercase;
  font-family: var(--font-lora);
}
.blog-child,
.blog-item {
  position: absolute;
  top: 94px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 427px;
  height: 520px;
}
.blog-item {
  left: 446px;
}
.lorem-ipsum-is-container {
  position: absolute;
  top: 456px;
  left: 466px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.blog-inner {
  position: absolute;
  top: 94px;
  left: 893px;
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 427px;
  height: 520px;
}
.image-12-icon,
.image-13-icon,
.image-14-icon {
  position: absolute;
  top: 95px;
  left: 1px;
  width: 425px;
  height: 298.6px;
  object-fit: cover;
}
.image-13-icon,
.image-14-icon {
  left: 447px;
  height: 299px;
}
.image-14-icon {
  left: 894px;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 100px;
  height: 30px;
}
.mar10-2022 {
  position: absolute;
  top: 7px;
  left: 11px;
  cursor: pointer;
}
.rectangle-container {
  position: absolute;
  top: 404px;
  left: 20px;
  width: 100px;
  height: 30px;
  color: var(--color-white);
}
.lorem-ipsum-is-container1 {
  position: absolute;
  top: 460px;
  left: 21px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.lorem-ipsum-dolor-container1 {
  position: absolute;
  top: 508px;
  left: 21px;
}
.lorem-ipsum-dolor-container2 {
  position: absolute;
  top: 508px;
  left: 466px;
}
.lorem-ipsum-is-container2 {
  position: absolute;
  top: 456px;
  left: 924px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.lorem-ipsum-dolor-container3,
.mar10-20221 {
  position: absolute;
  top: 508px;
  left: 924px;
}
.mar10-20221 {
  top: 6px;
  left: 5px;
  font-weight: 500;
}
.group-div,
.rectangle-parent1 {
  position: absolute;
  top: 404px;
  left: 924px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.rectangle-parent1 {
  left: 467px;
}
.blog1,
.learn-more,
.learn-more1,
.learn-more2 {
  position: absolute;
  top: 570px;
  left: 21px;
  color: var(--color-red);
}
.blog1,
.learn-more1,
.learn-more2 {
  left: 466px;
}
.blog1,
.learn-more2 {
  left: 924px;
}
.blog1 {
  top: 4013px;
  left: 300px;
  width: 1320px;
  height: 614px;
  color: var(--color-black);
}
.contact-us-child,
.mask-group-icon9 {
  position: absolute;
  left: 0;
  width: 1920px;
  height: 484px;
}
.mask-group-icon9 {
  top: 4727px;
  object-fit: cover;
}
.contact-us-child {
  top: 0;
  background-color: var(--color-midnightblue-200);
}
.contact-us2 {
  position: absolute;
  top: 100px;
  left: 818px;
  font-size: var(--font-size-26xl);
  text-transform: uppercase;
  font-family: var(--font-lora);
}
.contact-us-child1,
.contact-us-child2,
.contact-us-inner,
.contact-us-item {
  position: absolute;
  top: 196px;
  left: 413px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 537px;
  height: 50px;
}
.contact-us-child1,
.contact-us-child2,
.contact-us-inner {
  top: 194px;
  left: 970px;
  height: 190px;
}
.contact-us-child1,
.contact-us-child2 {
  top: 264px;
  left: 413px;
  height: 50px;
}
.contact-us-child2 {
  top: 334px;
}
.your-name {
  position: absolute;
  top: 207px;
  left: 433px;
}
.massage,
.subject,
.your-email {
  position: absolute;
  top: 275px;
  left: 433px;
}
.massage,
.subject {
  top: 345px;
}
.massage {
  top: 207px;
  left: 990px;
}
.contact-us1,
.footer-child {
  position: absolute;
  left: 0;
  width: 1920px;
}
.contact-us1 {
  top: 4727px;
  height: 484px;
  cursor: pointer;
  font-size: var(--font-size-5xl);
}
.footer-child {
  top: 0;
  background-color: var(--color-black);
  height: 426px;
}
.newsletter {
  position: absolute;
  top: 116px;
  left: 1305px;
  font-size: var(--font-size-xl);
}
.untitled-1-1-icon {
  position: absolute;
  top: 79px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.capitalize-on-low {
  position: absolute;
  top: 169px;
  left: 300px;
  display: inline-block;
  width: 229px;
  height: 82px;
}
.usefull-links {
  position: absolute;
  top: 116px;
  left: 635px;
  font-size: var(--font-size-xl);
}
.home-about-us-container {
  position: absolute;
  top: 169px;
  left: 635px;
  display: inline-block;
  width: 164px;
  height: 148px;
}
.our-services1 {
  position: absolute;
  top: 116px;
  left: 970px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.performance-upgrade-transmissi-container {
  position: absolute;
  top: 169px;
  left: 970px;
  display: inline-block;
  width: 181px;
  height: 157px;
}
.footer-item,
.get-latest-updates {
  position: absolute;
  top: 149px;
  left: 1305px;
}
.footer-item {
  top: 188px;
  border-radius: var(--br-10xs);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 315px;
  height: 40px;
}
.enter-your-email {
  position: absolute;
  top: 200px;
  left: 1315px;
}
.vector-icon5,
.vector-icon6,
.vector-icon7 {
  position: absolute;
  height: 3.4%;
  width: 0.83%;
  top: 66.38%;
  right: 79.9%;
  bottom: 30.21%;
  left: 19.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6,
.vector-icon7 {
  height: 4.44%;
  width: 0.63%;
  top: 65.96%;
  right: 83.75%;
  bottom: 29.6%;
  left: 15.63%;
}
.vector-icon7 {
  height: 3.45%;
  width: 0.94%;
  top: 66.38%;
  right: 81.77%;
  bottom: 30.16%;
  left: 17.29%;
}
.footer,
.footer-like-child {
  position: absolute;
  top: 5332px;
  left: 0;
  width: 1920px;
  height: 426px;
}
.footer-like-child {
  top: 0;
  background-color: var(--color-black);
  height: 100px;
}
.mechauto-all-rights {
  position: absolute;
  top: 39px;
  left: 792px;
}
.footer-like-item {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1923px;
  height: 3px;
}
.footer-like {
  position: absolute;
  top: 5758px;
  left: 0;
  width: 1920px;
  height: 100px;
  font-size: var(--font-size-xl);
}
.vector-icon8 {
  position: absolute;
  height: 0.51%;
  width: 1.56%;
  top: 1.45%;
  right: 27.24%;
  bottom: 98.04%;
  left: 71.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pages {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  cursor: pointer;
}
.vector-icon9 {
  position: absolute;
  height: 56.52%;
  width: 23.99%;
  top: 20%;
  right: 0;
  bottom: 23.48%;
  left: 76.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.pages-parent {
  position: absolute;
  top: 3px;
  left: 0;
  width: 94.2px;
  height: 23px;
  cursor: pointer;
}
.group-child5,
.group-parent {
  position: absolute;
  height: 29px;
}
.group-child5 {
  top: 0;
  left: 67px;
  background-color: transparent;
  width: 32px;
}
.group-parent {
  top: 85px;
  left: 980px;
  width: 99px;
  font-size: var(--font-size-xl);
}
.bring-to-the-container {
  position: absolute;
  top: 1105px;
  left: 837px;
  line-height: 24px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 783px;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 5858px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
