.about-us21,
.we-have-242 {
  position: absolute;
  top: 0;
  left: 532px;
}
.we-have-242 {
  left: 1px;
}
.at-the-end {
  margin: 0;
}
.bring-to-the-container2 {
  position: absolute;
  top: 53px;
  left: 0;
  font-size: var(--font-size-sm);
}
.group-child36 {
  position: absolute;
  top: 211px;
  left: 1px;
  background-color: var(--color-red);
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.read-more10 {
  position: absolute;
  top: 225px;
  left: 46px;
  color: var(--color-white);
}
.we-have-24-years-experience-container {
  position: absolute;
  top: 108px;
  left: 537px;
  width: 560px;
  height: 261px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.mask-group-icon21 {
  position: absolute;
  top: 94px;
  left: 0;
  width: 480px;
  height: 288px;
  object-fit: cover;
}
.about-us20 {
  position: absolute;
  top: 250px;
  left: 300px;
  width: 1097px;
  height: 382px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.mask-group-icon22 {
  position: absolute;
  top: 94px;
  left: 300px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.our-services9 {
  position: absolute;
  top: 0;
  left: 813px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.service-child2,
.service-child3,
.service-child4 {
  position: absolute;
  top: 515px;
  background-color: var(--color-red);
  width: 200px;
  height: 50px;
}
.service-child2 {
  left: 300px;
  cursor: pointer;
}
.service-child3,
.service-child4 {
  left: 747px;
}
.service-child4 {
  left: 1193px;
  cursor: pointer;
}
.read-more11 {
  left: 345px;
}
.read-more11,
.read-more12,
.read-more13 {
  position: absolute;
  top: 529px;
  color: var(--color-white);
}
.read-more12 {
  left: 792px;
  cursor: pointer;
}
.read-more13 {
  left: 1238px;
}
.body-shop-repairs2 {
  position: absolute;
  top: 414px;
  left: 301px;
}
.we-handle-both-container2 {
  position: absolute;
  top: 447px;
  left: 300px;
  font-size: var(--font-size-sm);
}
.mask-group-icon23 {
  position: absolute;
  top: 94px;
  left: 746px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.mechanical-repairs2,
.our-team-of-container2 {
  position: absolute;
  top: 414px;
  left: 747px;
}
.our-team-of-container2 {
  top: 447px;
  font-size: var(--font-size-sm);
}
.mask-group-icon24 {
  position: absolute;
  top: 94px;
  left: 1193px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.evaluation-services2,
.our-team-handles-container2 {
  position: absolute;
  top: 414px;
  left: 1193px;
}
.our-team-handles-container2 {
  top: 442px;
  font-size: var(--font-size-sm);
}
.service-child5 {
  position: absolute;
  top: 812px;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1920px;
  height: 500px;
}
.image-11-icon2 {
  position: absolute;
  top: 705px;
  left: 0;
  width: 858px;
  height: 529px;
  object-fit: cover;
  cursor: pointer;
}
.quality-service-and-container2 {
  position: absolute;
  top: 0;
  left: 0;
}
.we-utilize-the-container2 {
  position: absolute;
  top: 148px;
  left: 0;
  font-size: var(--font-size-sm);
}
.quality-service-and-customer-s-container {
  position: absolute;
  top: 956px;
  left: 970px;
  width: 626px;
  height: 212px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.service3 {
  position: absolute;
  top: 732px;
  left: 0;
  width: 1920px;
  height: 1312px;
  font-size: var(--font-size-xl);
}
.it-has-survived1 {
  position: absolute;
  top: 69px;
  left: 301px;
}
.our-projects-item {
  position: absolute;
  top: 115px;
  left: 893px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 427px;
  height: 400px;
}
.image-10-icon1,
.mask-group-icon25,
.mask-group-icon26 {
  position: absolute;
  top: 115px;
  left: 0;
  width: 427px;
  height: 400px;
  object-fit: cover;
}
.image-10-icon1,
.mask-group-icon26 {
  left: 447px;
  width: 426px;
}
.image-10-icon1 {
  left: 895px;
  border-radius: var(--br-3xs);
  width: 425px;
}
.mask-group-icon27,
.mask-group-icon28,
.mask-group-icon29 {
  position: absolute;
  top: 615px;
  left: 0;
  width: 427px;
  height: 400px;
  object-fit: cover;
}
.mask-group-icon28,
.mask-group-icon29 {
  left: 447px;
  width: 426px;
}
.mask-group-icon29 {
  left: 893px;
  width: 427px;
}
.engine1,
.repairing2,
.service4 {
  position: absolute;
  top: 525px;
  left: 0;
  font-size: var(--font-size-xl);
}
.engine1,
.service4 {
  left: 447px;
}
.engine1 {
  left: 893px;
}
.tyre-rotation2 {
  position: absolute;
  top: 553px;
  left: 0;
}
.our-projects3,
.peroidic-service2 {
  position: absolute;
  top: 553px;
  left: 447px;
}
.our-projects3 {
  top: 0;
  left: 481px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.engine-restoration1 {
  position: absolute;
  top: 553px;
  left: 893px;
}
.cleaning1,
.repairing3,
.service5 {
  position: absolute;
  top: 1025px;
  left: 0;
  font-size: var(--font-size-xl);
}
.repairing3,
.service5 {
  left: 893px;
}
.service5 {
  left: 447px;
}
.car-interior1,
.peroidic-service3 {
  position: absolute;
  top: 1053px;
  left: 447px;
}
.car-interior1 {
  left: 0;
}
.our-projects2,
.tyre-rotation3 {
  position: absolute;
  top: 1053px;
  left: 893px;
}
.our-projects2 {
  top: 2144px;
  left: 300px;
  width: 1320px;
  height: 1069px;
}
.latest-blog2 {
  position: absolute;
  top: 0;
  left: 509px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.blog-child8,
.blog-child9 {
  position: absolute;
  top: 94px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 427px;
  height: 520px;
}
.blog-child9 {
  left: 446px;
}
.lorem-ipsum-is-container8 {
  position: absolute;
  top: 456px;
  left: 466px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.blog-child10 {
  position: absolute;
  top: 94px;
  left: 893px;
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 427px;
  height: 520px;
}
.image-12-icon2,
.image-13-icon2,
.image-14-icon2 {
  position: absolute;
  top: 95px;
  left: 1px;
  width: 425px;
  height: 298.6px;
  object-fit: cover;
}
.image-13-icon2,
.image-14-icon2 {
  left: 447px;
  height: 299px;
}
.image-14-icon2 {
  left: 894px;
}
.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 100px;
  height: 30px;
}
.mar10-20228 {
  position: absolute;
  top: 7px;
  left: 11px;
  cursor: pointer;
}
.rectangle-parent27 {
  position: absolute;
  top: 404px;
  left: 20px;
  width: 100px;
  height: 30px;
  color: var(--color-white);
}
.lorem-ipsum-is-container9 {
  position: absolute;
  top: 460px;
  left: 21px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.lorem-ipsum-dolor-container9 {
  position: absolute;
  top: 508px;
  left: 21px;
}
.lorem-ipsum-dolor-container10 {
  position: absolute;
  top: 508px;
  left: 466px;
}
.lorem-ipsum-is-container10 {
  position: absolute;
  top: 456px;
  left: 924px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.lorem-ipsum-dolor-container11,
.mar10-20229 {
  position: absolute;
  top: 508px;
  left: 924px;
}
.mar10-20229 {
  top: 6px;
  left: 5px;
  font-weight: 500;
}
.rectangle-parent28,
.rectangle-parent29 {
  position: absolute;
  top: 404px;
  left: 924px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.rectangle-parent29 {
  left: 467px;
}
.learn-more10,
.learn-more8,
.learn-more9 {
  position: absolute;
  top: 570px;
  left: 21px;
  color: var(--color-red);
}
.learn-more10,
.learn-more9 {
  left: 466px;
}
.learn-more10 {
  left: 924px;
}
.blog11 {
  position: absolute;
  top: 3313px;
  left: 300px;
  width: 1320px;
  height: 614px;
}
.contact-us-child10,
.mask-group-icon30 {
  position: absolute;
  left: 0;
  width: 1920px;
  height: 484px;
}
.mask-group-icon30 {
  top: 4027px;
  object-fit: cover;
}
.contact-us-child10 {
  top: 0;
  background-color: var(--color-midnightblue-200);
}
.contact-us21 {
  position: absolute;
  top: 100px;
  left: 799px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.contact-us-child11,
.contact-us-child12,
.contact-us-child13,
.contact-us-child14 {
  position: absolute;
  top: 196px;
  left: 413px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 537px;
  height: 50px;
}
.contact-us-child12,
.contact-us-child13,
.contact-us-child14 {
  top: 194px;
  left: 970px;
  height: 190px;
}
.contact-us-child13,
.contact-us-child14 {
  top: 264px;
  left: 413px;
  height: 50px;
}
.contact-us-child14 {
  top: 334px;
}
.your-name2 {
  position: absolute;
  top: 207px;
  left: 433px;
}
.massage2,
.subject2,
.your-email2 {
  position: absolute;
  top: 275px;
  left: 433px;
}
.massage2,
.subject2 {
  top: 345px;
}
.massage2 {
  top: 207px;
  left: 990px;
}
.contact-us20,
.footer-child12 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.contact-us20 {
  top: 4027px;
  height: 484px;
  cursor: pointer;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.footer-child12 {
  top: 0;
  background-color: var(--color-black);
  height: 426px;
}
.newsletter7 {
  position: absolute;
  top: 116px;
  left: 1305px;
  font-size: var(--font-size-xl);
}
.untitled-1-1-icon7 {
  position: absolute;
  top: 79px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.capitalize-on-low10 {
  position: absolute;
  top: 169px;
  left: 300px;
  display: inline-block;
  width: 229px;
  height: 82px;
}
.usefull-links7 {
  position: absolute;
  top: 116px;
  left: 635px;
  font-size: var(--font-size-xl);
}
.home-about-us-container7 {
  position: absolute;
  top: 169px;
  left: 635px;
  display: inline-block;
  width: 164px;
  height: 148px;
}
.our-services10 {
  position: absolute;
  top: 116px;
  left: 970px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.performance-upgrade-transmissi-container7 {
  position: absolute;
  top: 169px;
  left: 970px;
  display: inline-block;
  width: 181px;
  height: 157px;
}
.footer-child13,
.get-latest-updates7 {
  position: absolute;
  top: 149px;
  left: 1305px;
}
.footer-child13 {
  top: 188px;
  border-radius: var(--br-10xs);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 315px;
  height: 40px;
}
.enter-your-email7 {
  position: absolute;
  top: 200px;
  left: 1315px;
}
.footer-like-child10,
.footer7 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.footer7 {
  top: 4632px;
  height: 426px;
  color: var(--color-white);
}
.footer-like-child10 {
  top: 0;
  background-color: var(--color-black);
  height: 100px;
}
.mechauto-all-rights6 {
  position: absolute;
  top: 39px;
  left: 792px;
}
.footer-like-child11 {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1923px;
  height: 3px;
}
.footer-like6 {
  position: absolute;
  top: 5058px;
  left: 0;
  width: 1920px;
  height: 100px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.vector-icon67,
.vector-icon68,
.vector-icon69 {
  position: absolute;
  height: 0.28%;
  width: 0.83%;
  top: 95.28%;
  right: 79.9%;
  bottom: 4.43%;
  left: 19.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon68,
.vector-icon69 {
  height: 0.37%;
  width: 0.63%;
  top: 95.25%;
  right: 83.75%;
  bottom: 4.38%;
  left: 15.63%;
}
.vector-icon69 {
  height: 0.28%;
  width: 0.94%;
  top: 95.28%;
  right: 81.77%;
  bottom: 4.43%;
  left: 17.29%;
}
.nevbar-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1920px;
  height: 50px;
}
.vector-icon70 {
  position: absolute;
  height: 32%;
  width: 0.83%;
  top: 34%;
  right: 15.63%;
  bottom: 34%;
  left: 83.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div7 {
  position: absolute;
  top: 17px;
  left: 324px;
}
.shubhamkathiriya05gmailcom4 {
  position: absolute;
  top: 17px;
  left: 492px;
}
.vector-icon71,
.vector-icon72,
.vector-icon73,
.vector-icon74 {
  position: absolute;
  height: 41.8%;
  width: 0.63%;
  top: 30%;
  right: 19.48%;
  bottom: 28.2%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon72,
.vector-icon73,
.vector-icon74 {
  height: 32.4%;
  width: 0.94%;
  top: 34%;
  right: 17.5%;
  bottom: 33.6%;
  left: 81.56%;
}
.vector-icon73,
.vector-icon74 {
  height: 36%;
  width: 0.73%;
  top: 32%;
  right: 83.65%;
  bottom: 32%;
  left: 15.63%;
}
.vector-icon74 {
  height: 30%;
  width: 0.94%;
  top: 34%;
  right: 74.9%;
  bottom: 36%;
  left: 24.17%;
}
.nevbar7 {
  width: 1920px;
  height: 50px;
  color: var(--color-white);
}
.group-child40,
.hedar-child6,
.nevbar7 {
  position: absolute;
  top: 0;
  left: 0;
}
.hedar-child6 {
  background-color: var(--color-cornflowerblue);
  width: 1920px;
  height: 100px;
}
.group-child40 {
  border: 5px solid var(--color-red);
  box-sizing: border-box;
  width: 203px;
  height: 60px;
}
.login9 {
  position: absolute;
  top: 18px;
  left: 70px;
}
.rectangle-parent30 {
  position: absolute;
  top: 19px;
  left: 1666px;
  width: 203px;
  height: 60px;
  cursor: pointer;
}
.book-now9 {
  position: absolute;
  top: 18px;
  left: 50px;
}
.rectangle-parent31 {
  position: absolute;
  top: 20px;
  left: 1417px;
  width: 203px;
  height: 60px;
  cursor: pointer;
  color: var(--color-darkred);
}
.untitled-1-2-icon6 {
  position: absolute;
  top: 20px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.about-us23,
.home16 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  cursor: pointer;
}
.about-us23 {
  left: 87px;
}
.services9 {
  left: 212px;
  cursor: pointer;
}
.blog12,
.contact-us23,
.pages7,
.services9 {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.pages7 {
  left: 333px;
  color: var(--color-red);
}
.blog12,
.contact-us23 {
  left: 457px;
  cursor: pointer;
}
.contact-us23 {
  left: 538px;
}
.home-parent5 {
  position: absolute;
  top: 38px;
  left: 647px;
  width: 658px;
  height: 23px;
  color: var(--color-white);
}
.hedar7,
.other-pages-child {
  position: absolute;
  height: 100px;
}
.hedar7 {
  top: 50px;
  left: 0;
  width: 1920px;
  font-size: var(--font-size-xl);
  color: var(--color-red);
}
.other-pages-child {
  top: 1930px;
  left: 1265px;
  width: 100px;
  overflow: hidden;
}
.other-pages {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 5158px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
