.vector-icon35 {
  position: absolute;
  height: 1.5%;
  width: 1.56%;
  top: 4.25%;
  right: 27.24%;
  bottom: 94.25%;
  left: 71.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon14,
.services-child {
  position: absolute;
  width: 1920px;
  height: 700px;
}
.mask-group-icon14 {
  top: 150px;
  left: 0;
  object-fit: cover;
}
.services-child {
  top: -594px;
  left: 4044px;
  background-color: var(--color-gray-200);
}
.services5 {
  position: absolute;
  top: 468px;
  left: 841px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
}
.home-services {
  position: absolute;
  top: 797px;
  left: 877px;
  cursor: pointer;
}
.mask-group-icon15 {
  position: absolute;
  top: 1044px;
  left: 300px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.our-services5 {
  position: absolute;
  top: 950px;
  left: 813px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-lora);
  color: var(--color-black);
}
.services-child1,
.services-child2,
.services-child3,
.services-inner,
.services-item {
  position: absolute;
  top: 1465px;
  left: 300px;
  background-color: var(--color-red);
  width: 200px;
  height: 50px;
}
.services-child1,
.services-child2,
.services-child3,
.services-inner {
  top: 2046px;
}
.services-child1,
.services-child2,
.services-child3 {
  left: 747px;
}
.services-child2,
.services-child3 {
  top: 1465px;
}
.services-child3 {
  left: 1193px;
}
.read-more5,
.read-more6 {
  position: absolute;
  top: 1479px;
  left: 345px;
}
.read-more6 {
  top: 2060px;
}
.read-more7,
.read-more8,
.read-more9 {
  position: absolute;
  top: 2060px;
  left: 792px;
}
.read-more8,
.read-more9 {
  top: 1479px;
}
.read-more9 {
  left: 1238px;
}
.body-shop-repairs1 {
  position: absolute;
  top: 1364px;
  left: 301px;
  color: var(--color-black);
}
.engine-repairing,
.performance-upgrade4,
.we-handle-both-container1 {
  position: absolute;
  top: 1945px;
  left: 301px;
  color: var(--color-black);
}
.performance-upgrade4,
.we-handle-both-container1 {
  left: 748px;
}
.we-handle-both-container1 {
  top: 1397px;
  left: 300px;
  font-size: var(--font-size-sm);
}
.neque-porro-quisquam {
  margin: 0;
}
.leverage-agile-frameworks-container,
.neque-porro-quisquam-container {
  position: absolute;
  top: 1978px;
  left: 300px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.leverage-agile-frameworks-container {
  left: 747px;
}
.mask-group-icon16 {
  position: absolute;
  top: 1044px;
  left: 746px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.mechanical-repairs1,
.our-team-of-container1 {
  position: absolute;
  top: 1364px;
  left: 747px;
  color: var(--color-black);
}
.our-team-of-container1 {
  top: 1397px;
  font-size: var(--font-size-sm);
}
.mask-group-icon17 {
  position: absolute;
  top: 1044px;
  left: 1193px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.evaluation-services1,
.our-team-handles-container1 {
  position: absolute;
  top: 1364px;
  left: 1193px;
  color: var(--color-black);
}
.our-team-handles-container1 {
  top: 1392px;
  font-size: var(--font-size-sm);
}
.services-child4 {
  position: absolute;
  top: 2362px;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1920px;
  height: 500px;
}
.image-11-icon1 {
  position: absolute;
  top: 2255px;
  left: 0;
  width: 858px;
  height: 529px;
  object-fit: cover;
}
.quality-service-and-container1 {
  position: absolute;
  top: 0;
  left: 0;
}
.we-utilize-the-container1 {
  position: absolute;
  top: 148px;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 132.19%;
}
.quality-service-and-customer-s-group {
  position: absolute;
  top: 2506px;
  left: 970px;
  width: 626px;
  height: 224px;
  font-size: var(--font-size-31xl);
}
.footer-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1920px;
  height: 426px;
}
.newsletter4 {
  position: absolute;
  top: 116px;
  left: 1305px;
  font-size: var(--font-size-xl);
}
.untitled-1-1-icon4 {
  position: absolute;
  top: 79px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.capitalize-on-low6 {
  position: absolute;
  top: 169px;
  left: 300px;
  display: inline-block;
  width: 229px;
  height: 82px;
}
.usefull-links4 {
  position: absolute;
  top: 116px;
  left: 635px;
  font-size: var(--font-size-xl);
}
.home-about-us-container4 {
  position: absolute;
  top: 169px;
  left: 635px;
  display: inline-block;
  width: 164px;
  height: 148px;
}
.our-services6 {
  position: absolute;
  top: 116px;
  left: 970px;
  font-size: var(--font-size-xl);
}
.performance-upgrade-transmissi-container4 {
  position: absolute;
  top: 169px;
  left: 970px;
  display: inline-block;
  width: 181px;
  height: 157px;
}
.footer-child7,
.get-latest-updates4 {
  position: absolute;
  top: 149px;
  left: 1305px;
}
.footer-child7 {
  top: 188px;
  border-radius: var(--br-10xs);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 315px;
  height: 40px;
}
.enter-your-email4,
.vector-icon36 {
  position: absolute;
  top: 200px;
  left: 1315px;
}
.vector-icon36 {
  height: 3.19%;
  width: 0.83%;
  top: 19.08%;
  right: 79.9%;
  bottom: 77.72%;
  left: 19.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon37,
.vector-icon38,
.vector-icon39,
.vector-icon40,
.vector-icon41 {
  position: absolute;
  height: 4.15%;
  width: 0.63%;
  top: 18.69%;
  right: 83.75%;
  bottom: 77.16%;
  left: 15.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon38,
.vector-icon39,
.vector-icon40,
.vector-icon41 {
  height: 3.24%;
  width: 0.94%;
  top: 19.08%;
  right: 81.77%;
  bottom: 77.68%;
  left: 17.29%;
}
.vector-icon39,
.vector-icon40,
.vector-icon41 {
  height: 3.4%;
  width: 0.83%;
  top: 66.38%;
  right: 79.9%;
  bottom: 30.21%;
  left: 19.27%;
}
.vector-icon40,
.vector-icon41 {
  height: 4.44%;
  width: 0.63%;
  top: 65.96%;
  right: 83.75%;
  bottom: 29.6%;
  left: 15.63%;
}
.vector-icon41 {
  height: 3.45%;
  width: 0.94%;
  top: 66.38%;
  right: 81.77%;
  bottom: 30.16%;
  left: 17.29%;
}
.footer-like-child4,
.footer4 {
  position: absolute;
  width: 1920px;
}
.footer4 {
  top: 2940px;
  left: 1px;
  height: 426px;
  font-size: var(--font-size-sm);
}
.footer-like-child4 {
  top: 0;
  left: 0;
  background-color: var(--color-black);
  height: 100px;
}
.mechauto-all-rights3 {
  position: absolute;
  top: 39px;
  left: 792px;
}
.footer-like-child5 {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1923px;
  height: 3px;
}
.footer-like3,
.nevbar-child2 {
  position: absolute;
  top: 3388px;
  left: 0;
  width: 1920px;
  height: 100px;
}
.nevbar-child2 {
  top: 0;
  background-color: var(--color-midnightblue-100);
  height: 50px;
}
.vector-icon42 {
  position: absolute;
  height: 32%;
  width: 0.83%;
  top: 34%;
  right: 15.63%;
  bottom: 34%;
  left: 83.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div4 {
  position: absolute;
  top: 17px;
  left: 324px;
}
.shubhamkathiriya05gmailcom2 {
  position: absolute;
  top: 17px;
  left: 492px;
}
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  position: absolute;
  height: 41.8%;
  width: 0.63%;
  top: 30%;
  right: 19.48%;
  bottom: 28.2%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  height: 32.4%;
  width: 0.94%;
  top: 34%;
  right: 17.5%;
  bottom: 33.6%;
  left: 81.56%;
}
.vector-icon45,
.vector-icon46 {
  height: 36%;
  width: 0.73%;
  top: 32%;
  right: 83.65%;
  bottom: 32%;
  left: 15.63%;
}
.vector-icon46 {
  height: 30%;
  width: 0.94%;
  top: 34%;
  right: 74.9%;
  bottom: 36%;
  left: 24.17%;
}
.nevbar4 {
  width: 1920px;
  height: 50px;
  font-size: var(--font-size-sm);
}
.group-child16,
.hedar-child2,
.nevbar4 {
  position: absolute;
  top: 0;
  left: 0;
}
.hedar-child2 {
  background-color: var(--color-cornflowerblue);
  width: 1920px;
  height: 100px;
}
.group-child16 {
  border: 5px solid var(--color-red);
  box-sizing: border-box;
  width: 203px;
  height: 60px;
}
.book-now5 {
  position: absolute;
  top: 18px;
  left: 50px;
}
.rectangle-parent9 {
  position: absolute;
  top: 20px;
  left: 1417px;
  width: 203px;
  height: 60px;
  cursor: pointer;
}
.untitled-1-2-icon3 {
  position: absolute;
  top: 20px;
  left: 300px;
  width: 157px;
  height: 60px;
  object-fit: cover;
}
.home10 {
  left: 0;
  cursor: pointer;
}
.about-us15,
.home10,
.services6 {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.about-us15 {
  left: 87px;
  cursor: pointer;
}
.services6 {
  left: 212px;
  color: var(--color-red);
}
.blog5,
.contact-us15,
.pages4 {
  position: absolute;
  top: 0;
  left: 333px;
  font-weight: 500;
  cursor: pointer;
}
.blog5,
.contact-us15 {
  left: 425px;
}
.contact-us15 {
  left: 506px;
}
.home-parent2 {
  position: absolute;
  top: 38px;
  left: 647px;
  width: 626px;
  height: 23px;
  color: var(--color-white);
}
.login6 {
  position: absolute;
  top: 18px;
  left: 70px;
}
.rectangle-parent10 {
  position: absolute;
  top: 19px;
  left: 1659px;
  width: 203px;
  height: 60px;
  cursor: pointer;
  color: var(--color-red);
}
.hedar4 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1920px;
  height: 100px;
  color: var(--color-darkred);
}
.mask-group-icon18,
.mask-group-icon19 {
  position: absolute;
  top: 1625px;
  left: 300px;
  width: 427px;
  height: 300px;
  object-fit: cover;
}
.mask-group-icon19 {
  left: 746px;
}
.services4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3488px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
